# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Publish Docker Image

on:
  push:
    branches:
      - '**'

jobs:
  push_to_registries:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      -
        name: Check out the repo
        uses: actions/checkout@v2

      -
        name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            blacktop/yara
            ghcr.io/${{ github.repository }}

      -
        name: Docker Login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      -
        name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image (v4)
        id: docker_build_4
        uses: docker/build-push-action@v2
        with:
          context: ./4.1
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            blacktop/yara:4
            blacktop/yara:4.1
            blacktop/yara:4.1.2
            blacktop/yara:latest
            ghcr.io/blacktop/yara:4
            ghcr.io/blacktop/yara:4.1
            ghcr.io/blacktop/yara:4.1.2
            ghcr.io/blacktop/yara:latest
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push Docker image (no-py)
        id: docker_build_no_py
        uses: docker/build-push-action@v2
        with:
          context: ./no-py
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            blacktop/yara:no-py
            blacktop/yara:4-no-py
            blacktop/yara:4.1-no-py
            blacktop/yara:4.1.2-no-py
            ghcr.io/blacktop/yara:no-py
            ghcr.io/blacktop/yara:4-no-py
            ghcr.io/blacktop/yara:4.1-no-py
            ghcr.io/blacktop/yara:4.1.2-no-py
          labels: ${{ steps.meta.outputs.labels }}

      - name: Build and push Docker image (w-rules)
        id: docker_build_w_rules
        uses: docker/build-push-action@v2
        with:
          context: ./w-rules
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            blacktop/yara:w-rules
            blacktop/yara:4-w-rules
            blacktop/yara:4.1-w-rules
            blacktop/yara:4.1.2-w-rules
            ghcr.io/blacktop/yara:w-rules
            ghcr.io/blacktop/yara:4-w-rules
            ghcr.io/blacktop/yara:4.1-w-rules
            ghcr.io/blacktop/yara:4.1.2-w-rules
          labels: ${{ steps.meta.outputs.labels }}
